<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.masl0016.myapp" version="0.1.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bacon</name>
    <description>
        A bacon delivery app.
    </description>
    <author email="dan-maz@outlook.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="Orientation" value="portrait" />
	<preference name="Fullscreen" value="true" />
	
</widget>
